.Header {
    padding: 0 45px;
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }

  .logo-head img {
    object-fit: fill;
    max-width: 50px;
    height: auto;
    border-radius: 10px 29px 10px 29px;
  }
  @media screen and (min-width: 768px) {
    body {
      font-size: 18px;
    }
  
    .container {
      flex-direction: row;
    }
  }
  @media screen and (min-width: 1200px) {
    body {
      font-size: 20px;
    }
  
    .container {
      flex-direction: row-reverse;
    }
  }